/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #a08989;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Centra verticalmente */
}

#listaEstudiantes {
    margin-bottom: 20px;
}

.contenedor {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 2px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

h1 {
    margin-bottom: 20px;
    color: #333;
}

#promedio {
    font-size: 1.2em;
    color: #333;
    font-weight: bold;
}

#listaEstudiantes div {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    font-size: 1.1em;
    color: #555;
}

